<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFile" value="\\nmeaf.org\files\IT_Prod"/>
	</appSettings>
	<connectionStrings>
		<add name="WayBeyond" connectionString="RGF0YVNvdXJjZT1cXG5tZWFmLm9yZ1xmaWxlc1xJVF9Qcm9jZXNzZXNcQ1JJXERldmVsb3BtZW50X0RhdGFiYXNlXFdheUJleW9uZC5kYjtQYXNzd29yZD1DUEFFZTlFSjhOTVFDS2hv"/>
	</connectionStrings>
</configuration>