<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFile" value="\\nmeaf.org\files\IT_Prod"/>
	</appSettings>
	<connectionStrings>
		<add name="WayBeyond" connectionString="DataSource=\\nmeaf.org\files\IT_Processes\CRI\Production_Database\WayBeyond.db;Password=CPAEe9EJ8NMQCKho"/>
	</connectionStrings>
</configuration>